.search button {
  background: var(--colorAccent);
  border-radius: 6px;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
}

.search button:hover {
  filter: brightness(0.97);
  transition-duration: 0.5s;
}

.disabled {
  filter: brightness(1.5);
  cursor: auto;
  transition-duration: 0.5s;
}

.disabled:hover {
  filter: brightness(1.5);
  transition-duration: 0.5s;
}
