.repo-icon {
  width: 80px;
  height: 80px;
  margin: 12px;
  border-radius: 40px;
  flex-shrink: 0;
}

.first-company-letter {
  position: relative;
  width: 80px;
  height: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  background: var(--colorAccent);
  border-radius: 40px;
  text-align: center;
  color: var(--colorBackground);
}

